.greetingForm {
    margin-left: 20px;
    margin-top: 20px;
}

.inputAndButtonContainer {

}

.error {
    color: red;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    height: 36px;

}

.input:focus {
}

.errorInput {
}

.button {
    margin-left: 10px;
    background: #0066cc;
    color: white;
    padding: 5px 24px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
